.dark {
	/*site colors */
	--sub2-text-color: #cccccc;
	--sub-text-color: #FFFFFF;
	--background-color: #333333;
}

:root {
	/*site colors */
	--sub2-text-color: #cccccc;
	--sub-text-color: #333333;
	--background-color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    header {
        max-width: 100vw;
        position: fixed;
    }

    .arte-home {
        margin-top: 50vh;
    }
    .spacecadet{
        transform: scale(150%) translateY(-25%) translateX(-7%);
    }

    .clickable--icons {
        font-size: 5em;
    }

    .home--title {
        font-size: 10vw;
        text-align: center;
    }

    .text-quemsoueu {
        width: 100%;
        font-size: 4vw;
    }

    .fonte-padrao-p {
        font-size: 4vw;
    }

    .saiba-mais-buttom {
        width: 300px;
        p {
            font-size: 2.3em;
        }
    }

    .container {
        width: 100%;
        padding: 0;
        transform: translateY(-15%);
    }
    .home--container-text{
        align-items: normal;
    }

    .text-block-home {
        width: 100%;
        margin-top: 270px;
    }
    header.sticky{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        transition: 0.6s;
        z-index: 100000;
    }

    .navbar--links {
        position: fixed;
        left: 0px;
        height: 100vh;
        width: 100vw;
        top: 8vh;
        display: flex;
        flex-direction: column;
        background: var(--background-color);
        align-items: center;
        transition: all 0.3s ease;
        transform: translateX(-100%);
        /*coluna: colum; */
    }

    .navbar--links li {
        opacity: 0;
    }

    .navbar--links li a {
        font-size: 50px;
        color: var(--sub-text-color);
    }

    .navbar--links li a:hover {
        color: aqua;
        font-size: 50px;
        /* border-bottom-color: #FBFBF8; */
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 1px;
        /* colocar animação */
    }

    .burger {
        display: block;
        right: 0;
    }

    .icons-navbar {
        display: flex;
        position: relative;
        margin-left: auto;

    }

    .projetos-useless {
        width: 40%;
    }

    .projetos-websitespessoais {
        width: 100%;
        height: 45vw;
    }

    .navbar-ativo {
        transform: translateX(0%);
    }

    .link-rodape {
        width: 40%;
    }

}


@media screen and (max-width: 650px) {
    .container-useless {
        width: 100%;
    }

    .projetos-useless {
        width: 80%;
    }

    .link-rodape {
        width: 100%;
    }

    .arte-home {
        margin-right: 0;
    }
}