@media (prefers-color-scheme: dark) {
	.greece:root {
		/*site colors */
		--sub2-text-color: #FFFFFF;
		--sub-text-color: #cccccc;
		--background-color: #333333;
	}
}

.dark {
	/*site colors */
	--sub2-text-color: #FFFFFF;
	--sub-text-color: #cccccc;
	--background-color: #333333;
}

:root {
	/*site colors */
	--sub2-text-color: #cccccc;
	--sub-text-color: #333333;
	--background-color: #FFFFFF;
	--colorrandom: #40007c;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


html,
body {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	font-size: 15px;

	/* para testar */
}

.menu-mobile {
	background-color: red;
	height: 100vh;
	width: 100vw;
}

.fonte-padrao-p {
	text-align: justify;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 1.2em;
	color: var(--sub-text-color);
}

.theme-buttom-div {
	display: block;
	position: fixed;
	right: 0;
	bottom: 0;

	input {
		display: none;
	}
}

/* =================== Header =================== */
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;
}

.navbar {
	display: inline-flex;
	width: 100%;
	min-height: 8vh;
}

header.sticky {
	animation: animacaoBottomFade 0.7s;
	display: block;
	position: fixed;
	background: var(--background-color);
	box-shadow: 0px 0px 6px var(--sub-text-color);
	background-color: var(--background-color);
}

.mr-circle {
	position: relative;
	width: 60px;
	height: 60px;
	align-items: center;
	border: 1px solid black;
	margin: 10px;
	margin-left: 100px;
}

.navbar-logo a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
	text-decoration: none;
}

.navbar-logo h2 {
	display: inline-flex;
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: var(--sub-text-color);
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.navbar-logo h3 {
	display: inline-flex;
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 2em;
	color: var(--sub-text-color);
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.navbar-links {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 40%;
	min-width: 700px;
	height: auto;
	margin-left: auto;
}

.navbar-links li {
	position: relative;
	list-style: none;
}

.navbar-links li a {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	padding: 7px 0;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: 4px;
	color: var(--sub-text-color);
	/* Cor texto barra nav*/
}

.navbar-links li a::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1.2px;
	width: 100%;
	background-color: var(--sub-text-color);
	transform: translateX(-105%);
	transition: transform 0.4s ease-in-out;
}

.navbar-links li a::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 1.2px;
	width: 100%;
	background-color: var(--sub-text-color);
	transform: translateX(105%);
	transition: transform 0.3s ease-in-out;
}

.navbar-links li a:hover::after,
.navbar-links li a:hover::before {
	transform: translateX(0);
}

.icons-navbar {
	display: inline-flex;
	position: relative;
	align-items:center;
	justify-content: space-around;
	width: auto;
	height: auto;
}

.logo-contato-navbar {
	position: sticky;
	justify-content: space-around;
	display: flex;
	color: var(--sub-text-color);
	font-size: 2em;
	margin-right: 10px;
	margin-left: 10px;

}

.logo-contato-navbar:hover {
	transform: scale(1.10);
	transition: 0.3s ease-in-out;
}

/* 3 linhas burger menu */
.burger {
	display: none;
	right: 0;
	cursor: pointer;
}

.burger div {
	width: 60px;
	height: 10px;
	border-radius: 10%;
	background-color: var(--sub-text-color);
	margin: 10px;
	transition: all 0.3s ease;
}


#colortheme-checkbox {
	display: none;
}

.icons-navbar label {
	cursor: pointer;
}


/* =============================================== */
/* =================== Home :) =================== */

#section-home {
	display: flex;
	height: 100vh;
	width: 100%;
	/* linear-gradient(#202020bb,rgba(14, 77, 139, 0.726)),url(../img/wallpaper-home.jpg); */
	background-size: cover;
	background-position: center;
	transition: 1s;
}

.container-1 {
	z-index: 99;
	padding-left: 5vw;
	display: block;
	margin-top: 40vh;
	left: 8vw;
	height: 40vh;
	width: 100%;
}

.text-block-home {
	display: block;
	width: 36vw;
}

.title-home h1 {
	display: inline;
	text-align: start;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: var(--sub-text-color);
	margin: 0px;
	padding: 0px;
}

.title-home h2 {
	display: inline;
	text-align: start;
	font-family: "Roboto", sans-serif;
	font-weight: 250;
	font-style: normal;
	color: var(--sub2-text-color);
	margin: 0px;
	padding: 0px;
}

.text-quemsoueu {
	display: inline-block;
	text-align: justify;
	font-family: "Roboto", sans-serif;
	font-weight: 2500;
	font-style: normal;
	font-size: 1.2em;
	color: var(--sub-text-color);
}

.text-biografia {
	margin: 0;
	font-weight: 300;
}

.text-line {
	display: inline-block;
	height: 1.5px;
	width: 15px;
	margin-bottom: 5px;
	background-color: var(--sub-text-color);

}

.title-home {
	display: inline-block;
	max-width: 50vw;
	width: 100%;
	font-size: 390%;
}

.biografia-home {
	max-width: 500px;
	display: block;
	max-width: 100%;
	width: 100%;
	margin-left: 10px;
}

.saiba-mais-buttom {
	display: block;
	margin: 10px;
	width: 100px;
	background-color: var(--sub-text-color);
	border-radius: 15px 15px;

}

.saiba-mais-buttom:hover {
	background-color: black;
	transition: 0.4s ease-in-out;

}

.saiba-mais-buttom p {
	display: inline-block;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 2500;
	font-style: normal;
	font-size: 1.2em;
	padding-left: 4.5px;
	color: var(--background-color);

}

.scrolado {
	transition: 1s;
	border-bottom-right-radius: 150px;
}


/*
.logo-github:hover{
	color: aqua;
}
*/
.arte-home {
	position: absolute;
	display: block;
	margin-bottom: 10vh;
	margin-right: 10%;
	bottom: 0;
	right: 0;
}

.arte-home img {
	transform: scale(80%);
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.blob-2 {
	background-color: var(--sub-text-color);
	border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;

}
.blob-3{
	
	z-index: -999;
	transform: scale(350%) translateY(20%);
}


/* =============================================== */

#section-about-me {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: 1s;
	margin-top: 0;
}

.container-pro-xp {
	padding-top: 100px;
	margin: 60px;
}

.jobxp-block {
	width: 70%;
	height: 0;
	border-radius: 4px;
	padding-top: 0;
	padding-bottom: 350px;
	margin-bottom: 50px;
	transition: 0.3s;
	box-shadow: 0px 0px 8px 0px #3636367c;
}

/* =============================================== */
.section-jobxp {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: 1s;
	margin-top: 0;
}

/* =============================================== */
