@media (prefers-color-scheme: dark) {
	.greece:root {
		/*site colors */
		--sub2-text-color: #ffffff;
		--sub2-text-color-rgb: 255, 255, 255;
		--sub-title-color: #cccccc;
		--background-color: #333333;
		--dark: #111111;
	}
}

.sub-title-color {
	color: var(--sub-title-color);
}

.dark {
	/*site colors */
	--sub2-text-color: #cccccc;
	--sub2-text-color-rgb: 204, 204, 204;
	--sub-title-color: #FFFFFF;
	--background-color: #333333;
	--dark: #111111;
}

:root {
	/*site colors */
	--sub2-text-color: #cccccc;
	--sub-title-color-rgb: 51, 51, 51;
	--sub-title-color: rgb(51, 51, 51);
	--dark: #111111;
	--margin-sections: 120px;
	--background-color: #FFFFFF;
	--colorrandom: #40007c;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-principal: "Roboto", sans-serif;
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
	font-family: var(--font-family-principal);
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	font-size: 15px;

	/* para testar */
}
h1, h2{
	margin: 0;
}
section{
	width: auto;
	margin: 0px var(--margin-sections) 0px var(--margin-sections);
}
.container{
	padding-top: 200px;
}
.body-2 {
	position: relative;
	overflow-x: hidden;
}

.menu-mobile {
	background-color: red;
	height: 100vh;
	width: 100vw;
}

.fonte-padrao-p {
	text-align: justify;
	font-style: normal;
	font-size: 1.2em;
	color: var(--sub-title-color);
}

.theme--buttom {
	z-index: 10000;
	display: flex;
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 20px 20px 20px 0;

	input {
		display: none;
	}

	label {
		cursor: pointer;
	}
}

/* =================== Header =================== */
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;
}

.navbar {
	display: inline-flex;
	width: 100%;
	min-height: 8vh;
}

header.sticky {
	animation: animacaoBottomFade 0.7s;
	display: block;
	position: fixed;
	background: var(--background-color);
	box-shadow: 0px 0px 6px var(--sub-title-color);
	background-color: var(--background-color);
}

.navbar--site-logo {
	position: relative;
	width: 60px;
	height: 60px;
	align-items: center;
	border: 1px solid black;
	margin: 10px;
	margin-left: 100px;
}

.navbar--site-logo--link a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
	text-decoration: none;
}

.navbar--site-logo--link h2 {
	display: inline-flex;
	position: relative;
	font-weight: 300;
	font-size: 2em;
	color: var(--sub-title-color);
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.navbar--site-logo--link h3 {
	display: inline-flex;
	position: relative;
	font-weight: 600;
	font-size: 2em;
	color: var(--sub-title-color);
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.navbar--links {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 40%;
	min-width: 700px;
	height: auto;
	margin-left: auto;
}

.navbar--links li {
	position: relative;
	list-style: none;
}

.navbar--links li a {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	padding: 7px 0;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: 4px;
	color: var(--sub-title-color);
	/* Cor texto barra nav*/
}

.navbar--links li a::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1.2px;
	width: 100%;
	background-color: var(--sub-title-color);
	transform: translateX(-105%);
	transition: transform 0.4s ease-in-out;
}

.navbar--links li a::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 1.2px;
	width: 100%;
	background-color: var(--sub-title-color);
	transform: translateX(105%);
	transition: transform 0.3s ease-in-out;
}

.navbar--links li a:hover::after,
.navbar--links li a:hover::before {
	transform: translateX(0);
}

.icons-navbar {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: space-around;
	width: auto;
	height: auto;
	margin-right: 20px;
}

.clickable--icons {
	position: sticky;
	justify-content: space-around;
	display: flex;
	color: var(--sub-title-color);
	font-size: 2em;
	margin-right: 10px;
	margin-left: 10px;

}

.clickable--icons:hover {
	transform: scale(1.10);
	transition: 0.3s ease-in-out;
}

/* 3 linhas burger menu */
.burger {
	display: none;
	right: 0;
	cursor: pointer;
}

.burger div {
	width: 60px;
	height: 10px;
	border-radius: 10%;
	background-color: var(--sub-title-color);
	margin: 10px;
	transition: all 0.3s ease;
}


#colortheme-checkbox {
	display: none;
}

.icons-navbar label {
	cursor: pointer;
}


/* =============================================== */
/* =================== Home :) =================== */

#section-home {
	display: flex;
	height: 100vh;
	/* linear-gradient(#202020bb,rgba(14, 77, 139, 0.726)),url(../img/wallpaper-home.jpg); */
	background-size: cover;
	background-position: center;
	transition: 1s;
}

.home--container-text {
	z-index: 99;
	display: flex;
	left: 8vw;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.text-block-home {
	display: block;
	width: 36vw;
	height: auto;
}

.home--title h1 {
	display: inline;
	text-align: start;
	font-weight: 700;
	font-style: normal;
	color: var(--sub-title-color);
}

.home--title h2 {
	display: inline;
	text-align: start;
	font-weight: 250;
	font-style: normal;
	color: var(--sub2-text-color);
	margin: 0px;
	padding: 0px;
}

.text-quemsoueu {
	display: inline-block;
	text-align: justify;
	font-weight: 2500;
	font-style: normal;
	font-size: 1.2em;
	color: var(--sub-title-color);
}

.text-biografia {
	margin: 0;
	font-weight: 300;
}

.text-line {
	display: inline-block;
	height: 1.5px;
	width: 15px;
	margin-bottom: 5px;
	background-color: var(--sub-title-color);

}

.home--title {
	display: inline-block;
	max-width: 50vw;
	width: 100%;
	font-size: 390%;
}

.biografia-home {
	max-width: 500px;
	display: block;
	max-width: 100%;
	width: 100%;

}

.text-block-home-padding {
	div {
		margin-bottom: 30px;
	}
}

.saiba-mais-buttom {
	position: relative;
	overflow: hidden;
	display: block;
	width: 150px;
	border: 1px;
	border: 3px solid var(--sub-title-color);

	p {
		z-index: 100;
		display: inline-block;
		width: 100%;
		text-align: center;
		font-style: normal;
		font-weight: bold;
		font-size: 1.2em;
		color: var(--sub-title-color);
	}

	a {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.saiba-mais-buttom::before {
	content: "";
	z-index: -100;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: var(--sub-title-color);
	transform: translateX(-105%);
	background-color: var(--sub-title-color);
	transition: transform 0.3s ease-in-out;
	/* Cor texto barra nav*/
}

.saiba-mais-buttom:hover::before {
	transform: translateX(0);
}

.saiba-mais-buttom:hover {
	transition: transform 10.6s ease-in-out;

	p {
		color: var(--background-color);
		transition: 0.6s;
	}
}

.scrolado {
	transition: 1s;
	border-bottom-right-radius: 150px;
}


/*
.logo-github:hover{
	color: aqua;
}
*/
.arte-home {
	position: absolute;
	margin-top: -20vh;
	margin-right: 10%;
	top: 0;
	right: 0;
	max-width: 100vw;
}

.floating-element {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}



/* =============================================== */

#section-about-me {
	height: max-content;
	background-size: cover;
	background-position: center;
	transition: 1s;
	margin-top: 0;
}

.container-pro-xp {


	h2 {
		display: inline-flex;
		position: relative;
		font-weight: 3000;
		font-size: 5em;
		color: var(--sub-title-color);
		text-decoration: none;
		margin: 0;
		padding: 0;
	}

	.about-me--block {
		display: inline-flex;
		width: auto;
		background-color: #cccccca8;
		border-radius: 20px;
		height: 600px;
		overflow: hidden;
	}

	.about-me--block--profile-picture {
		display: flex;
		align-items: center;
		justify-content: center;
		align-items: center;
		max-width: 400px;
		max-height: 400px;
		margin: 250px 30px 30px 100px;
		opacity: 80%;
		background-color: #cccccc;
		border-radius: 50%;
	}
	img{
		margin-top: -20%;
		transform: scale(80%);
		width: auto;
	}
	.about-me--block--lorem-ipsum{
		margin: 80px 50px 50px 10%;
		width: auto;
	}
}

/* ===================== jobxp ========================== */
#section-jobxp {
	height: max-content;
	background-size: cover;
	background-position: center;
	transition: 1s;
	margin-top: 0;
}

.jobxp-timeline {
	margin: 0 auto;
	max-width: 900px;
	padding: 25px;
	display: grid;
	grid-template-columns: 1fr 3px 1fr;

}

.jobxp-block {
	margin: 0 20px 80px 20px;
}

.jobxp-block_bottom {
	margin-bottom: 0;
}

.jobxp-block_bg {
	padding: 1.5em;
	background-color: rgba(var(--sub2-text-color-rgb), 0.2);
	box-shadow: 0 0 5px var(--dark);
	border-radius: 10px;
}

.jobxp-timeline-date {
	margin: 0 20px 20px 20px;
}

.jobxp-timeline-date_right {
	text-align: right;
}

.jobxp-timeline-middle_bar {
	position: relative;
	background-color: var(--sub-title-color);
}

.jobxp-timeline-point {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 15px;
	height: 15px;
	background-color: var(--sub-title-color);
	border-radius: 50%;
}

.jobxp-timeline-point_bottom {
	top: initial;
	bottom: 0;
}

.jobxp-timeline--title {
	margin: 0;
	font-weight: bold;
	font-size: 1.3em;
	color: var(--sub-title-color);
	text-decoration: none;
}

.jobxp-timeline--paragraph {
	line-height: 1.5;
	color: var(--sub-title-color);
}

/* =============================================== */


/*============= themes ========================= */
.inactive {
	display: none;
}

/*===== Space ===== */
.blob-2 {
	background-color: var(--sub-title-color);
	border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;

}

.blob-3 {
	display: flex;
	max-width: 80vw;
	z-index: -999;
	transform: scale(350%) translateY(20%);
}